// app global css

@import "@fontsource/inter/index.css"; // Carrega os pesos padrão
@import "@fontsource/inter/400.css";   // Regular
@import "@fontsource/inter/700.css";   // Bold
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&family=Stack+Sans+Text:wght@200..700&display=swap');

html, body {
  font-family: 'Stack Sans Notch', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}